<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my Site about the flash!</h1>

                <h4>Click this button below to see about the author of this page</h4>
                <p> Mission Statement: Being the fastest man alive</p>
                <div id="progressBar"></div>
                <button type="button" class="btn btn-primary" id="aboutButton">About The Flash</button>
            </div>
    </div>
</div>
