<!-- Main Content -->
<div class="row">
    <div class="col">
          <div class="jumbotron" id="contentArea">
              <h1 class="display-4">Interesting Projects the Flash created!</h1>
              <div class="container">              
                <div class="row">                 
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/marvel_dc/images/e/e2/Cosmic_Treadmill_001.jpg/revision/latest?cb=20120224184202">
                      <div class="card-body">
                        <h5 class="card-title">Comic Treadmill</h5>
                        <p class="card-text">Barry Allen created the Cosmic Treadmill so that he could travel through time by use of super-speed. It is powered by cosmic rays and was coordinated with radioactive pulses from a cosmic ray clock. It released positive radiation when moving forward, sending its user into the future, and negative radiation when moving backward, sending its user into the past.</p>                       
                      </div>                      
                    </div>                    
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/arrow/images/c/cb/Gideon_appearing_in_full-size_in_front_of_Barry%2C_Caitlin%2C_and_Cisco.png/revision/latest/scale-to-width-down/1000?cb=20150509005459">
                      <div class="card-body">
                        <h5 class="card-title">Gideon</h5>
                        <p class="card-text">Barry Allen created Gideon, who is an interactive artificial consciousness (A.I.) .</p>
                      </div>               
                    </div>                 
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/marvel_dc/images/4/4e/Flash_Costume_Ring_001.jpg/revision/latest?cb=20161103210559">
                      <div class="card-body"> 
                        <h5 class="card-title">Flash's Costume Ring</h5>
                        <p class="card-text">Flash, used this ring to compress and conceal his costume while operating in his civilian identity. By thumbing a small stud on the side, the top of the ring opened, releasing the costume (chemically treated to shrink), allowing Barry the ability to change clothes at super-speed.</p>                    
                      </div>                    
                    </div>
                </div>
              </div>
          </div>
                      
    </div>
</div>

