<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">What powers the flash has</h1>

                <p>Immense Superhuman speed  </p>
                <p>Intangibility through molecular vibration at high velocity</p>
                <p>Time travel and Dimension travel by running faster than the speed of light</p>
                <p>Electricity and Lightning manipulation</p>
                <p>Able to give/take speed</p>
                <p>Accelerated healing factor</p>
                <p>Electrokinesis</p>
            </div>
    </div>
</div>

